footer{
	padding: 48px 0 20px 0;
	.logo{
		background: #C4C4C4;
		// width: 160px;
		height: 80px;
	}
	.navigation{
		text-align: right;
		li{
			margin-right: 7%;
			&:hover{
				&:before{
					display: none;
				}
			}

		}
	}
	.dotted{
		margin-top: 50px;
	}
	.copyright{
		margin-top: 18px;
		font-size: 16px;
		line-height: 22px;
		color: #EAD9A9
	}
	
}