body{
	font-family: $roboto-r;
	img{
		max-width: 100%
	}
}
.main-bg{
	background: $bg-d;
	background-size: cover;
}
.dotted{
	border-bottom: 1px dashed #FFFBF1;
}
header{
	.logo{
		background: #C4C4C4;
		width: 160px;
		height: 80px;
	}
	.lang{
		font-size: 16px;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 33px 0px;
		cursor: pointer;
		color: #FFFBF1;

	}

}
.navigation{
	li{
		margin-right: 30px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:before{
			display: none;
			position: absolute;
			width: 100%;
			content: "";
			bottom: -1px;
			height: 2px;
			background: #FFFBF1
		}
		&:hover{
			&:before{
				display: block;
			}
		}
		&:last-child{
			margin-right: 0px;
		}
		a{
			display: block;
			padding: 33px 0px;
			font-size: 16px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #FFFBF1;
			text-decoration: none;
		}
	}
}