.services-link{
	font-family: $roboto-r;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #828282;
	margin-top: 40px;
	a{
		color: #828282;
		text-decoration: none;
		&:hover{
			color: #0B3532;
		}
	}
}
.services-title{
	font-family: $roboto-s;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	color: #0B3532;
	margin-top: 40px;
}
.services-all{
	padding: 51px 0 30px 0;
	.services-one{
		margin-bottom: 30px;
		.services-user{
			background: #0B3532;
			font-size: 0;
			.user-img{
				border-bottom: 1px dashed #EAD9A9; 
				.bg-img{
					position: relative; 
					background: #0B3532;
					img{
						background-size: cover;
					}
					.user-icon{
						border: 1.5px solid #EAD9A9; 
						box-sizing: border-box; 
						border-radius: 38px; 
						position: absolute; 
						background: none; 
						width: 76px; 
						height: 76px; 
						left: 0;
					    top: 0;
					    bottom: 0;
					    right: 0;
					    margin: auto;
						img{
							display: block; 
							margin: 20px auto;
						}
					}
				}
			}
			.user-middle{
				background: #0B3532; 
				height: 77px;
				justify-content: center; 
				font-size: 20px;
				text-align: center;
				padding-top: 20px; 
				a{
					text-decoration: none;
					color: #EAD9A9;
					&:hover{
						color: #FFFBF1;
					}
				}
			}
		}
	}
}
