.service-bg{
	background: url(img/man-in-black.jpg);
	height: 460px;
	width: 100%;
	background-size: cover;
	.single-serv-link{
		font-family: $roboto-r;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		display: flex;
		align-items: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #828282;
		margin-top: 120px;
		a{
			color: #828282;
			text-decoration: none;
			&:hover{
				color: #FFFBF1;
			}
		}
	}
}
.service-description{
	padding-top: 65px;
	.single-title{
			background: #fff;
			margin-top: -241px;
			text-align: center;
			padding: 40px 95px;
			.s-title{
				font-family: $roboto-s;
				font-style: normal;
				font-weight: normal;
				font-size: 44px;
				color: #0B3532;
			}
	 		.s-description{
	 			font-family: $roboto-r;
	 			font-style: normal;
	 			font-weight: normal;
	 			font-size: 18px;
	 			color: #4F4F4F;
	 			margin-top: 30px;
	 		}
		}
	.share-block{
		.share-title{
			font-family: $roboto-r;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #828282;
		}
		.share-links{
			margin: 30px 0 0 40px;
			li{
				margin-bottom: 15px;
				a{
					text-decoration: none;
				}
			}
		}
	}
	.title{
		font-family: $roboto-s;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		color: #0B3532;
	}
	.text{
		div{
			margin-top: 40px;
			font-family: $roboto-r;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #4F4F4F;
			img{
				float: right;
				margin-left: 30px;
			}
		}
	}
}
.similar-services{
	margin-top: 102px;
	.similar-left{
		font-family: $roboto-s;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		color: #0B3532;
	}
	.similar-rigyt{
		text-align: right;
		a{
			text-decoration: none;
			color: #0B3532;
			div{
				position: relative;
				width: 36px;
				height: 36px;
				display: inline-block;
				border: 1px solid #0B3532;
				border-radius: 20px;
				.arrow{
					position: absolute;
					top: 10px;
					left: 11px;
				}
			}
		}
	}
	.dashed{
		margin-top: 33px;
		border-bottom: 1px dashed #0B3532;
	}
	.all-service{
		padding-top: 40px;
		.services-one{
			margin-bottom: 30px;
			.services-user{
				background: #0B3532;
				font-size: 0;
				.user-img{
					border-bottom: 1px dashed #EAD9A9; 
					.bg-img{
						position: relative; 
						background: #0B3532;
						img{
							background-size: cover;
						}
						.user-icon{
							border: 1.5px solid #EAD9A9; 
							box-sizing: border-box; 
							border-radius: 38px; 
							position: absolute; 
							background: none; 
							width: 76px; 
							height: 76px; 
							left: 0;
						    top: 0;
						    bottom: 0;
						    right: 0;
						    margin: auto;
							img{
								display: block; 
								margin: 20px auto;
							}
						}
					}
				}
				.user-middle{
					background: #0B3532; 
					height: 77px;
					justify-content: center; 
					font-size: 20px;
					text-align: center;
					padding-top: 20px; 
					a{
						text-decoration: none;
						color: #EAD9A9;
						&:hover{
							color: #FFFBF1;
						}
					}
				}
			}
		}
	}
	.butoon-service{
		text-align: center;
		.button-link{
			display: inline-block;
			background: #0B3532;
			margin-bottom: 100px;
			padding: 20px 85px;
			a{
				text-decoration: none;
				color: #EAD9A9;
				font-family: $roboto-r;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				&:hover{
					color: #FFFBF1;
				}
			}
		}
	}
}