
/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	.services-link{
		margin-top: 30px;
		font-size: 12px; 
	}
	.services-title{
		margin-top: 30px;
		font-size: 33px;
	}
	.services-all{
		padding: 35px 0 22px 0;
	}
	.services-all .services-one{
		margin-bottom: 22px;
	}
	.service-bg .single-serv-link{
		margin-top: 90px;
		font-size: 12px;
	}
	.service-bg{
		height: 345px;
	}
	.service-description .single-title .s-title{
		font-size: 33px;
	}
	.service-description .single-title .s-description{
		font-size: 13px;
		margin-top: 22px;
	}
	.service-description .single-title{
		padding: 30px 71px;
		margin-top: -180px;
	}
	.service-description .title{
		font-size: 15px;
	}
	.service-description .text div{
		font-size: 13px;
		line-height: 16px;
		margin-top: 30px;
	}
	.service-description .text div img{
		margin-left: 22px;
	}
	.service-description .share-block{
		text-align: center;
	}
	.service-description .share-block .share-title{
		display: inline-block;
		vertical-align: top;
		font-size: 12px;
	}
	.service-description .share-block .share-links {
	    margin: 0 0 0 40px;
	    display: inline-block;
	    vertical-align: top;
	}
	.service-description .share-block .share-links ul{
		display: inline-block;
		vertical-align: top;
	}
	.service-description .share-block .share-links li{
		display: inline-block;
	}
	.similar-services .similar-left{
		font-size: 24px;
		text-align: center;
	}
	.similar-services .similar-rigyt{
		text-align: center;
		margin-top: 10px;
	}
	.similar-services .dashed{
		margin-top: 24px;
	}
	.similar-services{
		margin-top: 76px;
	}
	.similar-services .all-service .services-one{
		margin-bottom: 22px;
	}
	.similar-services .all-service{
		padding-top: 30px;
	}
	.similar-services .butoon-service .button-link{
		margin-bottom: 75px;
	}
}

@media (max-width: 576px) { 
	.services-link{
		margin-top: 20px;
		font-size: 8px;
	}
	.services-title{
		margin-top: 20px;
		font-size: 22px;
	}
	.services-all{
		padding: 25px 0 15px 0;
	}
	.services-all .services-one{
		margin-bottom: 15px;
	}
	.service-bg .single-serv-link{
		margin-top: 60px;
		font-size: 8px;
	}
	.service-bg{
		height: 230px;
	}
	.services-all .services-one .services-user .user-middle{
		font-size: 17px;
	}
	.service-description .single-title .s-title{
		font-size: 22px;
	}
	.service-description .single-title .s-description{
		font-size: 9px;
		margin-top: 15px;
	}
	.service-description .single-title{
		padding: 20px 47px;
		margin-top: -150px;
	}
	.service-description .title{
		font-size: 10px;
	}
	.service-description .text div{
		font-size: 9px;
		line-height: 11px;
		margin-top: 20px;
	}
	.service-description .text div img{
		margin-left: 15px;
	}
	.service-description .share-block{
		text-align: center;
	}
	.service-description .share-block .share-title{
		display: inline-block;
		vertical-align: top;
		font-size: 8px;
	}
	.service-description .share-block .share-links {
	    margin: 0 0 0 40px;
	    display: inline-block;
	    vertical-align: top;
	}
	.service-description .share-block .share-links ul{
		display: inline-block;
		vertical-align: top;
	}
	.service-description .share-block .share-links li{
		display: inline-block;
	}
	.similar-services .similar-left{
		font-size: 16px;
		text-align: center;
	}
	.similar-services .similar-rigyt{
		text-align: center;
		margin-top: 10px;
	}
	.similar-services .dashed{
		margin-top: 16px;
	}
	.similar-services{
		margin-top: 51px;
	}
	.similar-services .all-service .services-one{
		margin-bottom: 15px;
	}
	.similar-services .all-service .services-one .services-user .user-middle{
		font-size: 17px;
	}
	.similar-services .all-service{
		padding-top: 20px;
	}
	.similar-services .butoon-service .button-link{
		margin-bottom: 50px;
	}
}

