body {
  font-family: "Roboto", sans-serif; }
  body img {
    max-width: 100%; }

.main-bg {
  background: #0B3532;
  background-size: cover; }

.dotted {
  border-bottom: 1px dashed #FFFBF1; }

header .logo {
  background: #C4C4C4;
  width: 160px;
  height: 80px; }
header .lang {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 33px 0px;
  cursor: pointer;
  color: #FFFBF1; }

.navigation li {
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  .navigation li:before {
    display: none;
    position: absolute;
    width: 100%;
    content: "";
    bottom: -1px;
    height: 2px;
    background: #FFFBF1; }
  .navigation li:hover:before {
    display: block; }
  .navigation li:last-child {
    margin-right: 0px; }
  .navigation li a {
    display: block;
    padding: 33px 0px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFBF1;
    text-decoration: none; }

.services-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #828282;
  margin-top: 40px; }
  .services-link a {
    color: #828282;
    text-decoration: none; }
    .services-link a:hover {
      color: #0B3532; }

.services-title {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  color: #0B3532;
  margin-top: 40px; }

.services-all {
  padding: 51px 0 30px 0; }
  .services-all .services-one {
    margin-bottom: 30px; }
    .services-all .services-one .services-user {
      background: #0B3532;
      font-size: 0; }
      .services-all .services-one .services-user .user-img {
        border-bottom: 1px dashed #EAD9A9; }
        .services-all .services-one .services-user .user-img .bg-img {
          position: relative;
          background: #0B3532; }
          .services-all .services-one .services-user .user-img .bg-img img {
            background-size: cover; }
          .services-all .services-one .services-user .user-img .bg-img .user-icon {
            border: 1.5px solid #EAD9A9;
            box-sizing: border-box;
            border-radius: 38px;
            position: absolute;
            background: none;
            width: 76px;
            height: 76px;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto; }
            .services-all .services-one .services-user .user-img .bg-img .user-icon img {
              display: block;
              margin: 20px auto; }
      .services-all .services-one .services-user .user-middle {
        background: #0B3532;
        height: 77px;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        padding-top: 20px; }
        .services-all .services-one .services-user .user-middle a {
          text-decoration: none;
          color: #EAD9A9; }
          .services-all .services-one .services-user .user-middle a:hover {
            color: #FFFBF1; }

footer {
  padding: 48px 0 20px 0; }
  footer .logo {
    background: #C4C4C4;
    height: 80px; }
  footer .navigation {
    text-align: right; }
    footer .navigation li {
      margin-right: 7%; }
      footer .navigation li:hover:before {
        display: none; }
  footer .dotted {
    margin-top: 50px; }
  footer .copyright {
    margin-top: 18px;
    font-size: 16px;
    line-height: 22px;
    color: #EAD9A9; }

.service-bg {
  background: url(img/man-in-black.jpg);
  height: 460px;
  width: 100%;
  background-size: cover; }
  .service-bg .single-serv-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #828282;
    margin-top: 120px; }
    .service-bg .single-serv-link a {
      color: #828282;
      text-decoration: none; }
      .service-bg .single-serv-link a:hover {
        color: #FFFBF1; }

.service-description {
  padding-top: 65px; }
  .service-description .single-title {
    background: #fff;
    margin-top: -241px;
    text-align: center;
    padding: 40px 95px; }
    .service-description .single-title .s-title {
      font-family: "Roboto Slab", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      color: #0B3532; }
    .service-description .single-title .s-description {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: #4F4F4F;
      margin-top: 30px; }
  .service-description .share-block .share-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #828282; }
  .service-description .share-block .share-links {
    margin: 30px 0 0 40px; }
    .service-description .share-block .share-links li {
      margin-bottom: 15px; }
      .service-description .share-block .share-links li a {
        text-decoration: none; }
  .service-description .title {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #0B3532; }
  .service-description .text div {
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #4F4F4F; }
    .service-description .text div img {
      float: right;
      margin-left: 30px; }

.similar-services {
  margin-top: 102px; }
  .similar-services .similar-left {
    font-family: "Roboto Slab", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #0B3532; }
  .similar-services .similar-rigyt {
    text-align: right; }
    .similar-services .similar-rigyt a {
      text-decoration: none;
      color: #0B3532; }
      .similar-services .similar-rigyt a div {
        position: relative;
        width: 36px;
        height: 36px;
        display: inline-block;
        border: 1px solid #0B3532;
        border-radius: 20px; }
        .similar-services .similar-rigyt a div .arrow {
          position: absolute;
          top: 10px;
          left: 11px; }
  .similar-services .dashed {
    margin-top: 33px;
    border-bottom: 1px dashed #0B3532; }
  .similar-services .all-service {
    padding-top: 40px; }
    .similar-services .all-service .services-one {
      margin-bottom: 30px; }
      .similar-services .all-service .services-one .services-user {
        background: #0B3532;
        font-size: 0; }
        .similar-services .all-service .services-one .services-user .user-img {
          border-bottom: 1px dashed #EAD9A9; }
          .similar-services .all-service .services-one .services-user .user-img .bg-img {
            position: relative;
            background: #0B3532; }
            .similar-services .all-service .services-one .services-user .user-img .bg-img img {
              background-size: cover; }
            .similar-services .all-service .services-one .services-user .user-img .bg-img .user-icon {
              border: 1.5px solid #EAD9A9;
              box-sizing: border-box;
              border-radius: 38px;
              position: absolute;
              background: none;
              width: 76px;
              height: 76px;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto; }
              .similar-services .all-service .services-one .services-user .user-img .bg-img .user-icon img {
                display: block;
                margin: 20px auto; }
        .similar-services .all-service .services-one .services-user .user-middle {
          background: #0B3532;
          height: 77px;
          justify-content: center;
          font-size: 20px;
          text-align: center;
          padding-top: 20px; }
          .similar-services .all-service .services-one .services-user .user-middle a {
            text-decoration: none;
            color: #EAD9A9; }
            .similar-services .all-service .services-one .services-user .user-middle a:hover {
              color: #FFFBF1; }
  .similar-services .butoon-service {
    text-align: center; }
    .similar-services .butoon-service .button-link {
      display: inline-block;
      background: #0B3532;
      margin-bottom: 100px;
      padding: 20px 85px; }
      .similar-services .butoon-service .button-link a {
        text-decoration: none;
        color: #EAD9A9;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px; }
        .similar-services .butoon-service .button-link a:hover {
          color: #FFFBF1; }

/*# sourceMappingURL=main.css.map */
